/* Global Variables */
:root {
    --gold: #D4AF37;
    --silver: #C4C4C4;
    --dark-grey: #24211E;
    --white: #FFF;
    --copper: #893727;
}

html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--gold);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.bg-gold {
    background-color: var(--gold);
}

.border-top {
    border-top-color: var(--gold) !important;
}

.link {
    color: var(--dark-grey);
}

.link a {
    color: var(--copper);
}

a {
    color: var(--copper);
}

a:hover {
    color: var(--copper);
    font-weight:500;
}

.alert-success {
    background-color: var(--gold);
    color: var(--dark-grey);
    border-color: var(--copper);
}

h1 {
    border-bottom: solid 1px var(--gold);
    margin-top: 1rem;
    padding: 0 0 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.default-price-box {
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.price-area {
    font-size : 1.5rem;
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:disabled {
    background-color: var(--gold);
    border-color: var(--copper);
    color: var(--dark-grey);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}